@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.woff') format('woff'),
        url('../fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/Roboto-Thin.woff') format('woff'),
        url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
body{
    background-image: url(../picture/bg.png);
    z-index: 58888;
}



.round {
    border-radius: 100%;
    margin: 0 35px 0 0;
}

.name {
    font-family: 'RobotoThin';
    color: rgb(11, 83, 148);
    font-size: 60px;
    text-align: center;
    margin: 60px 0 32px 0;
}

.age {
    font-family: 'Roboto';
    color: rgb(11, 83, 148);
    font-size: 17px;
    text-align: center;
    margin: 0 0 19px 0;
}

.contacts {
    font-family: 'Roboto';
    color: rgb(102, 102, 102);
    font-size: 15px;
    text-align: center;
}

.sign {
    font-family: 'RobotoMedium';
    color: rgb(102, 102, 102);
    font-size: 23px;
}

.cardCompany__summary {
    font-family: 'RobotoThin';
    color: rgb(11, 83, 148);
    font-size: 18px;
}

.cardCompany__office {
    font-family: 'Roboto';
    color: rgb(102, 102, 102);
    font-size: 18px;
    
}

.contents {
    font-family: 'RobotoBold';
    color: rgb(102, 102, 102);
    font-size: 25px;
}

.cardCompany__officeMini{
    font-family: 'Roboto';
    color: rgb(102, 102, 102);
    font-size: 18px;
}

.edu{
    font-family: 'RobotoBold';
    color: rgb(11, 83, 148);
    font-size: 25px;
}

dd{
    font-family: 'Roboto';
    color: rgb(102, 102, 102);
    font-size: 18px; 
}

.link {
    text-decoration: none;
    color: rgb(11, 83, 148);
}

.link:hover {
    color: rgb(107, 95, 5);
}

.link:visited {
    color: rgb(5, 83, 107);
}

.link:active {
    color: rgb(107, 95, 5);
}

.fa-brands {
    font-size: 35px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

picture {
    float: left;
}

.info {
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 11%;
}

.tr {
    margin-left: 7%;
    margin-right: 7%;
}